.second-tab-grid-holder{
    display: grid;
    place-items: center;
    width: 100%;
    padding: 15px;
    margin: auto;
}

.second-tab-grid{
    display: grid;
    grid-template-rows: 45%;
    padding-bottom: 100px;
    gap: 4rem;
   
  
}
.second-tab-grid-img{
    display: grid;
    place-items: center;
}
.second-tab-grid img{
    width: 60%;
}
.second-grid-text-holder p{
    margin-bottom: 30px;
    margin-top: 30px;
}
.inner-grid-second-grid{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
/* third tab styles */
.third-tab-grid-holder{
    display: grid;
    place-items: center;
    width: 90%;
    margin: auto;
}

.third-tab-grid{
    padding-top: 50px;
    display: grid;
    grid-template-rows:60%;
    gap: 4rem;
    padding-bottom: 100px;
   
  
}
.third-tab-grid-img{
    display: grid;
    place-items: center;
}
.third-tab-grid img{
    width: 60%;
    /* margin-top: 50px; */
}
.third-grid-text-holder p{
    margin-bottom: 30px;
    margin-top: 20px;
}
.third-grid-text-holder h2{
    font-weight: bolder;
}
.second-grid-text-holder h2{
    font-weight: bolder;
}
.third-grid-second-grid{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.inner-grid-third-grid p{
    margin-top: 10px;
}

@media only screen and (min-width: 768px) {
    .second-tab-grid-holder{
        display: grid;
        place-items: center;
        width: 90%;
        margin: auto;
    }
    
    .second-tab-grid{
        display: grid;
        grid-template-columns: 30% 80%;
        padding: 100px;
        gap: 2rem;
       
      
    }
    
    .second-tab-grid img{
        width: 100%;
    }
    .second-grid-text-holder p{
        margin-bottom: 30px;
        margin-top: 30px;
    }
    .inner-grid-second-grid{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    /* third tab styles */
    .third-tab-grid-holder{
        display: grid;
        place-items: center;
        width: 90%;
        margin: auto;
    }
    
    .third-tab-grid{
        display: grid;
        grid-template-columns: 70% 30%;
        padding: 100px;
        gap: 2rem;
       
      
    }
    
    .third-tab-grid img{
        width: 100%;
    }
    .third-grid-text-holder p{
        margin-bottom: 30px;
        margin-top:10px;
    }
    .inner-grid-third-grid{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2rem;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}