.features-header{
    display: grid;
    place-items: center;
    color: black;
    padding-top: 70px;
}
.features-header h1{
    font-weight: bolder;
}
.features-para{
    width: 100%;
    padding: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}
.tab-list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 15px;
}
.tab-list p {
font-weight: bold;
font-size: 0.8rem;
}
.tabs{
    margin-top: -12px;
    position: relative;
    width: 80%;
    background-color: white;
    height: 2px;
}
.active-tabs{
    position: absolute;
    left: 0;
    width: 35%;
    height: 2px;
    background: #00C9DB;
}
.active-tabs-2{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35%;
    height: 2px;
    background: #00C9DB;
}
.active-tabs-3{
    position: absolute;
    right: 0;
    width: 35%;
    height: 2px;
    background: #00C9DB;
}
.tabs-holder{
    display: grid;
    place-items: center;
}
.first-tab{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.first-tab-holder{
    display: grid;
    place-items: center;
    padding: 30px;
    padding-top: 50px;
    width: 100%;
    margin: auto;
}
.inner-tab-grid{
    margin-bottom: 35px;
}
.inner-tab-grid p{
    margin-top: 10px;
}
@media only screen and (min-width: 768px) {
    .features-header{
        display: grid;
        place-items: center;
        color: white;
        padding-top: 70px;
    }
    .features-header h1{
        font-weight: bolder;
    }
    .features-para{
        width: 50%;
        text-align: center;
    }
    .tab-list{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3.5rem;
    }
    .tab-list p {
        font-weight: bold;
        font-size: 1rem;
        }
    .tabs{
        margin-top: -12px;
        position: relative;
        width: 40%;
        background-color: white;
        height: 2px;
    }
    .active-tabs{
        position: absolute;
        left: 0;
        width: 35%;
        height: 2px;
        background: #00C9DB;
    }
    .tabs-holder{
        display: grid;
        place-items: center;
    }
    .first-tab{
        display: grid;
        grid-template-columns:repeat(3,1fr);
        place-items: center;
        gap: 2rem;
    }
    .first-tab-holder{
        display: grid;
        place-items: center;
        padding: 100px;
        padding-top: 50px;
        width: 90%;
        margin: auto;
    }
    .inner-tab-grid{
        margin-bottom: 70px;
        text-align: right;
    }
    .inner-tab-grid  strong{
        text-align: left;
    }
    .inner-tab-grid p{
        margin-top: 10px;
    }
  
}